.colleage_wrap{
    position: relative;
    margin-top: 112px;
    background: url('..//image/colleage_bg.jpg') left top no-repeat;
    background-size: 100% 100%;
    .colleage_list_wrap{
        .colleage_content_wrap{
            display: flex;
            max-width: 1414px;
            margin: 0 auto;
            width: 100%;
            .colleage_content{
                flex: 1;
                padding: 0 23px;
                .colleage{
                    .content-list{
                        background: url('../image/colleage_content_bg.png') left top no-repeat;
                        background-size: 100% 100%;
                        padding: 28px;  
                        .content{
                            display: flex;
                            border-bottom: 1px solid #d8c9af;
                            padding:22px 0;
                            &:last-child{
                                border-bottom: 0;
                            }
                            img{
                                flex: 1
                            }
                            .text_wrap{
                                flex: 3;
                                padding-left: 28px;
                                h5{
                                    position: relative;
                                    font-size: 24px;
                                    font-weight: normal;
                                    margin: 0;
                                    line-height: 42px;
                                    padding-left: 28px;
                                    &::before{
                                        top: 15px;
                                    }
                                }
                                .intro{
                                    margin-top: 10px;
                                    padding-left: 28px;
                                    font-size: 14px;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .section_title {
        margin-bottom: 35px;
        &.two_word{
            background: url('../image/selection_title_bg_2_word.png') 0px bottom no-repeat;
            span.title_cn{
                padding-left: 81px;
            }
            span.title_en{
                left: 130px;
            }    
        }
        &.three_word{
            background: url('../image/selection_title_bg_3_word.png') 0px bottom no-repeat;
            span.title_cn{
                padding-left: 70px;
            }
            span.title_en{
                left: 180px;
            }
        }
    }
}