@maxPcWin: ~"(max-width: 1440px)";
@minPcWin: ~"(min-width: 1440px)";
@navMobile: ~"(max-width: 1110px)";
@headerNavPcMin: ~"(min-width: 1110px)";
@mobileWinMax: ~"(max-width: 640px)";
@mobileWinMin: ~"(min-width: 640px)";
html,.container{
    background: url('../image/container_bg.jpg') repeat;
    background-color: #f5f5f5;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
    font-size:12px;
}
@font-face {
    font-family:"FZHCJW";
    src: url("../font/FZHCJW.TTF"),
         url("../font/FZSXSLKJW.TTF");
    font-stretch: "normal";
}
.section_title {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 640px;
    width: 100%;
    height: 76px;
    font-weight: normal;
    text-align: left;
    background: url('../image/selection_title_bg.png') center bottom no-repeat;
    &.two_word{
        background: url('../image/selection_title_bg_2_word.png') 60px bottom no-repeat;
        span.title_cn{
            padding-left: 140px;
        }
        span.title_en{
            left: 190px;
        }    
    }
    &.three_word{
        background: url('../image/selection_title_bg_3_word.png') 60px bottom no-repeat;
        span.title_cn{
            padding-left: 140px;
        }
        span.title_en{
            left: 231px;
        }    
    }
    &.five_word{
        height: 89px;
        background: url('../image/selection_title_bg_5_word.png') center bottom no-repeat;
        background-size: 100% auto;
        @media @mobileWinMax {
            height: 89rem;
        }
        span.title_cn{
            text-align: center;
        }
        span.title_en{
            left: 231px;
        }
    }
    span.title_cn{
        display: block;
        margin: 0 auto;
        font-size: 56px;
        text-align: center;
        font-family:"FZHCJW";
        @media @mobileWinMax {
            font-size: 56rem;
        }
    }
    span.title_en{
        position: absolute;
        font-size: 12px;
        left: 260px;
        bottom: -2px;
    }
} 
.product_info{
    text-align: center;
    h3{
        font-size: 28px;
        margin: 41px 0 15px;
        @media @mobileWinMax {
            font-size: 23rem;
        }
    }
    div.price{
        position: relative;
        font-size: 42px;
        margin-bottom: 15px;
        padding-bottom: 24px;
        display: inline-block;
        @media @mobileWinMax {
            font-size: 36rem;
            padding-bottom: 19rem;
        }
        &::after{
            content: " ";
            position: absolute;
            width: 100%;
            bottom: 0;
            display: block;
            height: 1px;
            background: #232323;
        }
        i{
            font-style: normal;
            font-size: 24px;
            &:first-child{
                position: relative;
                top: -10px;
            }
        }
    }
    span.tips{
        display: block;
        font-size: 16px;
        color: #2f2f2f;
    }
}
.title_has_morebutton{
    .all{
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 76px;
        height: 38px;
        background: url('../image/icon.png') -60px -14px no-repeat;
        float: right;
        margin-right: percentage(.14);
        margin-top: -64px;
        &.more{
            background: url('../image/icon.png') -60px -60px no-repeat;
        }
        @media @mobileWinMax {
            margin-right:0;
        }
    }
}
.icon_title{
    &::before{
        position: absolute;
        content: " ";
        top: 7px;
        left: 0;
        display: block;
        width: 24px;
        height: 24px;
        background: url('../image/icon.png') -60px -110px no-repeat;
    }
    
}
.icon_small_title{
    &::before{
        position: absolute;
        content: " ";
        display: block;
        top: 9px;
        left: 0;
        width: 9px;
        height: 9px;
        background: url('../image/icon.png') -99px -114px;
    }
}
.clear::after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
video{
    width: 100%;
}
.content_wrap{
    margin: 0 auto 145px;
    background-size: 100%;
    max-width: 1368px;
    overflow: hidden;
    width: 100%;
}
.content_img_list_wrap{
    width: 100%;
    overflow: hidden;
    ul.content_img_list{
        display: flex;
        margin: 0 -8px;
        li{
            flex: 1;
            padding: 8px;
            box-sizing: border-box;
            img{
                width: 100%;
            }
        }
    }
}
.text_block_wrap{
    padding-bottom: 40px;
    border-bottom: 1px solid #b99e6e;
    h3{
        font-family: "FZHCJW";
        font-size: 40px;
        font-weight: normal;
        color: #1d2c40;
        margin: 0 0 16px;
    }
    .subtitle{
       font-size: 20px; 
    }
    p{
        margin: 0;
        font-size: 18px;
        color: #1d2c40;
        line-height: 30px;
    }
}

.subject_list{
    li{
        @titleWidth:174px;
        margin-bottom: 36px;
        .subject_title{
            float: left;
            width: 174px;
            height: 74px;
            line-height: 79px;
            text-align: center;
            font-family: "FZHCJW";
            font-size: 32px;
            color: #ffffff;
            background: url("../image/icon.png") 0 -279px no-repeat;
        }
        .subject_cont{
            box-sizing: border-box;
            float: right;
            width: calc(100% - @titleWidth);
            padding-left: 40px;
            padding-top: 10px;
            font-size: 18px;
            color: #1d2c40;
            line-height: 28px;
        }
    }
}
ul.nav_of_bread_crumb{
    display: block;
    float: right;
    font-size: 0;
    width: 60%;
    li{
        font-size: 20px;
        display: inline-block;
        padding:0 20px 0;
        position: relative;
        a{
            position: relative;
            display: inline-block;
            color: #1d2c40;
            text-decoration: none;
            line-height: 36px;
            &.active::after{
                position: absolute;
                content: " ";
                display: block;
                background: url("../image/icon.png") -61px -146px no-repeat;
                height: 5px;
                width: 54px;
                bottom: -2px;
                left: 0;
            }
            
        }
        &::before{
            position: absolute;
            content: " ";
            display: block;
            height: 13px;
            width: 1px;
            background: #a1a1a1;
            left: 0;
            top:13px;
        }
        &:last-child{
            padding-right: 0;
        }
        &:first-child{
            padding-left: 0;
            &::before{display: none;}
        }
    }
}
.under_line_2{
    &::after{
        position: absolute;
        content: " ";
        display: block;
        height: 5px;
        background: url('../image/icon.png') -60px -178px no-repeat;
        width: 272px;
    }
}
.under_line_5{
    &::after{
        position: absolute;
        content: " ";
        display: block;
        height: 5px;
        background: url('../image/icon.png') -60px -245px no-repeat;
        width: 486px;
    }
}
.under_line_1{
    &::after{
        content: " ";
        position: absolute;
        display: block;
        background: url(../image/icon.png) -61px -146px no-repeat;
        height: 5px;
        width: 54px;
        bottom: -2px;
        left: 0;
    }
}