.famous_experts_say_jade{
    position: relative;
    margin-top: 50px;
    background: url('../image/famous_experts_say_jade_bg.jpg') left top no-repeat;
    background-size: 100% 100%;
    .experts_content_wrap{
        padding: 70px 0 0;
        .title_has_morebutton{
            .all{
                background: url('../image/icon.png') -60px -60px no-repeat;
                position: relative;
                z-index: 1;
            }
        }
        .experts_content_list{
            width: 100%;
            max-width: 1402px;
            margin: 75px auto 0;
            display: flex;
            @media @mobileWinMax{
                &.pc_view{
                    display: none;
                }
            }
            .experts_content{
                flex: 1;
                padding: 0 17px;
                .content{
                    background: url('../image/expert_bg.png') left top no-repeat;
                    background-size: 100% 100%;
                    padding: 28px;
                    font-size: 16px;
                    line-height: 24px;
                    img{
                        width: 100%;
                    }
                    h4{
                        font-size: 24px;
                        font-weight: normal;
                        color: #1d2c40;
                        margin: 37px 0 20px;
                        position: relative;
                        a{
                            color: inherit;
                            text-decoration: none;
                        }
                        &::before{
                            position: absolute;
                            content: " ";
                            top: 7px;
                            left: 0;
                            display: block;
                            width: 24px;
                            height: 24px;
                            background: url('../image/icon.png') -60px -110px no-repeat;
                        }
                    }
                    span.tips, p, h4{
                        padding-left: 24px;
                        color: #1d2c40;
                    }
                    span.tips{
                        color: #636a75;
                    }
                }
            }
        }
        .mobile_view{
            @media @mobileWinMin{
                display: none;
            }
            @media @mobileWinMax{
                padding-bottom: 80rem;
                .experts_content_list{
                    display: flex;
                    .experts_content{
                        flex: auto;
                        flex-shrink: 0;
                        padding: 0 17rem;
                        box-sizing: border-box;
                        text-align: left;
                        .content{
                            h4{
                                font-size: 32rem;
                                line-height: 40rem;
                                border-bottom: 1px dashed #dacbb2;
                                padding-bottom: 22rem;
                            }
                            p{
                                font-size: 18rem;
                                line-height: 28rem;
                            }
                        }
                    }
                }
            }
        }
    }
}